@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'poppins';
  color: #0043C5;
}

p {
  font-size: 0.75 rem;
}

.polygon-label {
  color: black;
  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  width: 6rem;
}