@tailwind base;
@tailwind components;
@tailwind utilities;

/* .polygon-label {
  color: black;
  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  width: 6rem;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
